*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'poppins';
}

:root{
  --dark-black: #000000;
  --dark-purple: #3E065F;
  --light-purple: #700B97;
  --shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.container{
  display: flex;
  border: 1px solid;
  width: 100vw;
  max-width: 90%;
  height: 100vh;
  margin: auto;
  justify-content: space-between;
}

.todo-area{
  flex-basis: 70%;
  border: 1px solid brown;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;

}

.todo-history{
  flex-basis: 25%;
  border: 1px solid brown;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
}

h1{
  font-size: 1.5rem;
  color: var(--dark-black);
  padding: 0.5rem;
}

h3{
  font-size: 1.3rem;
  color: var(--light-purple);
  text-align: center;
}